<template>
  <div>
    <MicroNewsItem
        v-for="(item, index) in NewsList"
        v-bind:category="item.categories"
        v-bind:title="item.title"
        v-bind:content="item.content"
        v-bind:writer="item.writer"
    />
  </div>
</template>

<script>

export default {
  data() {
    return {
      NewsList: [
        {
          categories: '자동차',
          title: '한국GM, 올해"쉐보레 트렉스 크로스오버"등 신차 6종 출시',
          content: '한국GM은 30일 서울 여의도 콘래드 호텔에서 기자간담회를 열고, 올해 신차 출시 계획을 비롯한 한국 시장에서의' +
              '사업 전략을 발표했습니다. 신형 트랙스의 모델명은 트랙스 크....',
          writer: '카빌리프 - 3일 전'
        },
        {
          categories: '자동차',
          title: '주행거리 1000km 中 전기차 "zeekr001" 공개... 가격은?',
          content: '중국 자동차 회사 지리(Geely)가 1회 충전에 1032km를 주행하는 전기차를 공개했따. 지난 2021년 처음 공개됐을' +
              '당시 700km 주행거리를 자랑했던 Zeekr001 모델의 CATL의...',
          writer: '더드라이브-2일 전'
        },
        {
          categories: '자동차',
          title: '현대차 신형 코나, 톡톡 뛰는 "이 컬러" 어때요?... 실물 색감 직접 살펴보니',
          content: '[Motoroid / New Car] 국내 시장에 새롭게 출시된 현대차 소형 SUV"디 올 뉴 코나(SX2)"에 대한 관심이' +
              '뜨겁다. 현대차 신형 코나는 지난 2017년 6월 1세대 코나 출시 이후 5년 만...]',
          writer: '모터로이드-2일 전'
        },
        {
          categories: '자동차',
          title: '"역대급 맞네"1억 초반, 미국산 현실 드림카 "이 차"의 정체',
          content: '콜벳 최초의 하이브리드 차량이 공개됐다. 쉐보레가 17일(현지시간) 하이브리드 스포츠카 콜뱃 E-레이를' +
              '공개하고 올해 말 10만 4000달러 이상의 가격으로 출시할 것...',
          writer: '다키포스트-5일 전'
        },
        {
          categories: '자동차',
          title: '[시승기]혁신기술로 세단 취향 저격한 현대 디 올 뉴 그렌저의 대단한 존재감]',
          content: '그랜저는 성공하면 타야하는 자로 알았고 살수 있는 차였다. 소비자가 그렇게 생각했고, 현대자동차가 그렇게' +
              '말해왔다. 인정했다. 하지만 고급 수입자동차 브랜드가 국내 세일즈...',
          writer: '무브브로-3일 전'
        }
      ]
    }
  }
}
</script>