<template>
  <div>
    <div class="categories-color">
      {{ category }}
    </div>
    <div><strong>
      {{ title }}
    </strong></div>
    <div>
      {{ content }}
    </div>
    <div>
      {{ writer }}
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      category: {
        type: String,
        required: true
      },

      title: {
        type: String,
        required: true
      },

      content: {
        type: String,
        required: true
      },

      writer: {
        type: String,
        required: true
      }
    }
  }
</script>