<template>
  <div>
    <div>{{ companyName }}</div>
    <div>구독 {{ linkSubscribe }}</div>
    <div>기사보기 {{ linkView }}</div>
  </div>
</template>
<script>
  export default {
    props: {
      companyName: {
        type: String,
        required: true
      },

      linkSubscribe: {
        type: String,
        required: true
      },

      linkView: {
        type: String,
        required: true
      }
    }
  }
</script>